*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body,
#root{
width:100%;
min-height:100vh;
overflow-x:hidden;

background:
radial-gradient(
circle at center,
#F6EFE4,
#EFE4D4
);

font-family:
"Playfair Display",
serif;
}

body{

background-size:200% 200%;

animation:
flow 16s ease infinite;

}


@keyframes flow{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}